.footer {
    background-color: white;
    font-family: "JetBrains mono", monospace;
    font-size: 12px;
    position: fixed;
    box-shadow: 0 0 10px rgb(185, 185, 185);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    bottom: 0;
    width: 100%;
}